.CodeMirror {
    border: 4px solid gray;
    margin: auto;
    height: 500px;
    font-size: 16px;
    text-align: left; 
    text-shadow: none; 
}

button {
    font-weight: bold; 
    padding: 4px; 
    margin-top: 5px; 
}

.selectors {
    display: flex;
    justify-content:space-between;
}

#wrapper {
    margin-top: 5%; 
}

body {
    background-color: indigo; 
    text-align: center;
    font-family: monospace; 
    color: white;
}

a, a:visited {
    color: gray; 
    font-weight: bold; 
}

footer {
    font-style: italic;
    font-size: 14px; 
    padding: 10px; 
}

#wrapper {
    width: 50%;
    margin: auto;
}