@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #181818;
        color: #d8d8d8;
    }

    a {
        color: #CF9FFF;
    }

    .field {
        background-color: #282828;
        color: #d8d8d8;
    }
}



/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #f5f5f5;
        color: #282828;
    }

    a {
        color: #400080;
    }

    .field {
        background-color: #d8d8d8;
        color:#282828;
    }
}

.CodeMirror {
    margin: auto;
    height: 450px;
    font-size: 15px;
    text-align: left;
    text-shadow: none;
}

button {
    font-style: "IBM Plex Mono", monospace;
    padding: 4px;
    margin-top: 5px;
}

.selectors {
    display: flex;
    justify-content: space-between;
}

select {
    font-family: monospace;
    font: "IBM Plex Mono";
}

#wrapper {
    margin-top: 3%;
    width: 50%;
}


body {
    font-family: "IBM Plex Mono", monospace;
    text-rendering: optimizeLegibility;
    /* line-height: 1.5; */
    /* margin: 1rem 1rem; */
}

html {
    margin-left: calc(100vw - 100%);
}

a:visited {
    color: gray;
    font-weight: bold;
}

footer {
    font-size: 14px;
    padding: 20px;
    margin-left: 30%;
    align-items: center;
}

.output {
    width: 70%;
    margin-top: 10px;
}

.field {
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin: auto;
    text-align: left;
    padding: 5px;
    font-size: 14px;
}

.box {
    width: 90%;
}

#wrapper {
    width: 50%;
    margin-left: 25%;
}