name: Unit Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build-and-test:
    name: Linux Test
    runs-on: ubuntu-latest
    steps:
      - name: Go 1.17
        uses: actions/setup-go@v1
        with:
          go-version: 1.17
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test
        run: ./docker/server-debian/entrypoint.sh && make test

      - name: Test Server Starts
        run: cd server && ./test_server_startup.sh
